.git
.gitignore

**/.env
**/.env.*
!.env.example

**/node_modules
**/.next
**/dist
**/build

.vscode
.idea

*.log
.DS_Store

coverage
**/coverage

tmp
temp
_tmp_*

docker-data

# Uploads should normally be mounted as a volume
apps/api/uploads